{% extends "base.html" %}

{% load catalog_tags %}
{% block site_wrapper %}
<div id = "main">
  <a href="#content" class="skip_link">Skip to main content</a>
  <div id = "banner">
    <div class="bannerIEPadder">
      <div class="cart_box">
	{% cart_box request %}
	{% if request.user.is_authenticated %}
	<a href="{% url django.contrib.auth.views.logout %}">Logout</a>
	<a href="/accounts/my_account/"> (Account Info)</a>
	{% else %}
	<a href="{% url django.contrib.auth.views.login %}">Login</a>
	 / 
	<a href="/accounts/register/">Register an Account</a>
	{% endif %}

      </div>
      <a href="/">Hobbietat</a>
      
    </div>
  </div>
  <div style="float:right;"><!--search box goes here -->
   <!-- <form method="get" action="/search/results/">
      <label for="q"/>
      <input type="text" name="q" id="q"/>
      <input type="Submit" value="Search"/>
    </form>-->
    
  </div>
  <div id="navigation">
    <div class="navIEPadder">
      <!--navigation tabs at the top of each page -->
      {% comment %}{% include "tags/navigation.html" %} {% endcomment %}
      {% category_list request.path %}
    </div>
  </div>
  <div id="middle">
    <div id="sidebar">
      <!--<div class="sidebarIEPadder">[search box goes here]</br>
	{% comment %}{% category_list request.path %}{% endcomment %}
      </div>-->
    </div>
    <div id="content">
<!--      <a name = "content"></a>-->
      <div class="contentIEPadder">
	{% block content %}{% endblock %}
      </div>
    </div>
  </div>

  <div id="footer">
    <div class="footerIEPadder">
      {% footer_links %}
    </div>
  </div>

</div>
{% endblock %}
