<!--this is category.html-->

{% extends "catalog.html" %}

{% block content %}

<!--<h1>{{c.name}}</h1>
{{c.description}}-->

<div id="size_content">
{% if products_12 %}
<h1>Size 4 Inch</h1>
{% for p in products_12 %}
{% include 'tags/thumbnail.html' %}
{% endfor %}
{% endif %}
</div>

<div id="size_content">
{% if products_9 %}
<h1>Size 9 Inch</h1>
{% for p in products_9 %}
{% include 'tags/thumbnail.html' %}
{% endfor %}
{% endif %}
</div>

<div id="size_content">
{% if products_7 %}
<h1>Size 7 Inch</h1>
{% for p in products_7 %}
{% include 'tags/thumbnail.html' %}
{% endfor %}
{% endif %}
</div>

<div id="size_content">
{% if products_5 %}
<h1>Size 5 3/8 Inch</h1>
{% for p in products_5 %}
{% include 'tags/thumbnail.html' %}
{% endfor %}
{% endif %}
</div>

<div id="size_content">
{% if products_4 %}
<h1>Size 4 Inch</h1>
{% for p in products_4 %}
{% include 'tags/thumbnail.html' %}
{% endfor %}
{% endif %}
</div>

<!--
{% for p in products %}

{% include 'tags/thumbnail.html' %}
{% endfor %}
-->

{% endblock %}
