<!--this is product.html-->
{% extends "catalog.html" %}

{% block content %}

<!--holder for the product image-->
<div class="product_image">
  <img src = "{{ p.image.url }}" alt="{{p.name}}"/><br/>
  <div style="font-size:10px">{{ p.image_caption }}</div>
</div>

<!-- description of the product-->
<h1>{{p.name}}</h1>
{% if p.sale_price %}
<b>Now: ${{p.price}}</b>
<br/>
Was:<del>$ {{p.old_price}}</del><br/>

{% else %}
<b>Price: ${{p.price}}</b><br/>
{% endif %}
Brand: <em>{{p.brand}}</em><br/>
SKU #: {{p.sku}}<br/>
Size: {{p.size}}

{% comment %}In categor{{categories.count|pluralize:"y, ies"}}:
{% for c in categories %}
<a href="{{c.get_absolute_url}}">{{c.name}}</a>
{% if not forloop.last %}, {% endif %}
{% endfor %}{% endcomment %}

<!--POST form for method to get input-->
<br/>
<form method="post" action="." class="cart">
  {% csrf_token %}
  {{form.as_p}}
  <br/>
  <input type="submit" value="Add to Cart" name = "submit" alt="Add to Cart"/>
</form>
<div class="cb"/>
<br/>

<!--<div class="cb"><br/></div>-->
<h3><div style="margin-left:10px;">Product Description</div></h3>
<div style="margin-left:10px; margin-right:10px;">{{p.description}}</div>

{% endblock %}
